data/raw/pulse_data/
data/raw/Wind_data/
data/streaming/*
data/training/*

!data/raw/.gitkeep
!data/streaming/.gitkeep
!data/training/.gitkeep

.env
venv
pulse_data.zip
__pycache__/
*.pyc
Offline-Phase/my_chronos_pipeline_pm10/model.safetensors
Offline-Phase/my_chronos_pipeline_pm25/model.safetensors
.idea
data.zip
.cache.sqlite